<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242569194457-u3tme115a09ki9m6680tn6oksst3fsos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242569194457-u3tme115a09ki9m6680tn6oksst3fsos</string>
	<key>API_KEY</key>
	<string>AIzaSyCvcJZamp4pCnyOf4FbQOUO3hovlK4dEC8</string>
	<key>GCM_SENDER_ID</key>
	<string>242569194457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koichi.firebase1</string>
	<key>PROJECT_ID</key>
	<string>fir-1-344f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-344f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242569194457:ios:920c9024e76237ccfe87c8</string>
</dict>
</plist>